<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="/css/main.css">
	<script src="/js/jquery-2.0.0.min.js"></script>
	<script src="/js/knockout.js"></script>
    <script src="/js/knock/event.js"></script>
</head>
<body>
    <table id="eventContainer">
        <thead>
            <tr><th>Id</th><th>Time</th><th>Rider</th><th>Actions</th></tr>
        </thead>
        <tbody data-bind="foreach: events">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: time"></td>
                <td><p>Rider: <input data-bind="value: rider" /></p></td>
                <td>
                    <a href="#" data-bind="click: $root.saveEvent">Save</a>
                    <a href="#" data-bind="click: $root.deleteEvent">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>