<div class="row">
	<div class="col6">
		<h1>Danger Zone!!</h1>
		<div class="block">
			<h2>Reset the DB</h2>
			<form action="/admin/reset" method="post">
				<input type="submit" value="Reset" />
			</form>
		</div>
	</div>
</div>
