<div class="row">
	<div class="col6">
		<h1>Debug stream</h1>
		<div class="block h400">
			<table>
				<tbody id="events">
				</tbody>
			</table>		
		</div>
	</div>
	<div class="col6">
		<h1>System status</h1>
		<div class="block" id="status">
		</div>
	</div>
</div>

<script>
	// reading
	var es = new EventSource('/api/stream/debug');
	var ss = new EventSource('/api/stream/system');
	$('div#status').load("/raw/nodes");
	es.onmessage = function(e) {
		logToTable(e.data);
	};
	ss.onmessage = function(e) {
		// this just tells our script that there is something new
		// if it is node stuff, we pull the content from the "raw"-API
		if(e.data.split(';')[0] == "status")
		{
			$('div#status').load("/raw/nodes");		
		}
	};
</script>
