<div class="row">
	<div class="col6">
		<h1>Debug stream</h1>
		<div class="block h400">
			<table>
				<tbody id="events">
				</tbody>
			</table>		
		</div>
	</div>
	<div class="col6">
		<h1>System status</h1>
		<div class="block" id="status">
		</div>
	</div>
</div>

<script>
	// reading
	var es = new EventSource('/api/stream/events');
	var ss = new EventSource('/api/stream/system');
	es.onmessage = function(e) {
		logToTable(e.data);
	};
	ss.onmessage = function(e) {
		$('div#status').html(e.data);
	};
</script>
