<html>
	<head>
		<title>Satar</title>
		<link rel="stylesheet" href="/css/l3_grid.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col6">
							<h1>Satar</h1>
						</div>
						<div class="col6">
							<div id="nav">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/stream/">Stream</a></li>
									<li><a href="/">Impressum</a>	</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row">
						<div class="col12">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>