<script>
	// reading
	var es = new EventSource('/api/stream/events');
	es.onmessage = function(e) {
		var data = e.data.split(';');
		var nodeId = data[0];
		var value = $("#node").val();
		var eventId = data[2];
		if (value == nodeId)
		{
			var form = '<form action="/api/event/'+nodeId+'/'+eventId+'" method="post"><input type="number" name="riderId" id="node" value="1"/><input type="submit" value="Submit" /></form>'
			$('#events').prepend('<tr><td>'+data[1]+'  riderID:'+form+'</td></tr>');
		}
	};
</script>

<div class="row">
	<div class="col12">
		<h1>Events</h1>
		<div class="block fscroll">
			<table>
				<tbody id="events">
				</tbody>
			</table>		
		</div>
	</div>
</div>
<div class="row">
	<div class="col4">
		<h1>Settings</h1>
		<div class="block">
			<h2>Node ID</h2>
			<input type="number" id="node" value="1"/>
		</div>
	</div>
</div>


