<div class="row">
	<div class="col12">
		<h1>Events</h1>
		<div class="block fscroll">
			<div id="events">
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col4">
		<h1>Settings</h1>
		<div class="block">
			<h2>Node ID</h2>
			<input type="number" id="node" width="4"/>
		</div>
	</div>
</div>


<script>
	// load value for the node field
	$(document).ready(function() {
		var id = sessionStorage.getItem('id');
		$("#node").val(id);
	});
	// streaming
	var es = new EventSource('/api/stream/events');
	es.onmessage = function(e) {
		var data = e.data.split(';');
		var nodeId = data[0];
		var value = $("#node").val();
		sessionStorage.setItem('id',value);
		var eventId = data[2];
		if (value == nodeId)
		{
			var form = '<form action="/api/event/'+nodeId+'/'+eventId+'" method="post"> \
							<input type="number" name="riderId" id="riderId" value="1"/> \
							<input class="submit" type="submit" onclick="$(\'#ev'+eventId+'\').css(\'background\',\'gray\');" value="Submit" /> \
						</form>';
			var wrapper = '<div class="row" id="ev'+eventId+'">';
			$('#events').prepend(wrapper+data[1]+'  riderID:'+form+'</div>');
		}
	};
</script>
