<div class="row">
	<div class="col6">
		<h1>Debug stream</h1>
		<div class="block h400">
			<table>
				<tbody id="events">
				</tbody>
			</table>		
		</div>
	</div>
	<div class="col6">
		<h1>System status</h1>
		<div class="block" id="status" data-bind="foreach: nodes">
		    <ul><li>
                (<strong data-bind="text: id"></strong>) Δ <el data-bind="text: delta"></el> St <el data-bind="text: status"></el>
            </li></ul>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var es = new EventSource('/stream/debug');
		es.onmessage = function(e) {
			$('#events').prepend('<tr><td>' + e.data + '</td></tr>');
		};
	});
</script>
<script src="/js/jquery-2.0.0.min.js"></script>
<script src="/js/knockout.js"></script>
<script src="/js/knock/node.js"></script>
