<div class="row">
	<div class="col6">
		<h1>Debug stream</h1>
		<div class="block h400">
            <table id="debugContainer">
                <thead>
                    <tr><th>Time</th><th>Text</th></tr>
                </thead>
                <tbody data-bind="foreach: debugs.slice(0).reverse()">
                    <tr>
                        <td data-bind="text: time"></td>
                        <td data-bind="text: text"></td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
	<div class="col6" id="nodeContainer">
		<h1>System status</h1>
		<div class="block" id="status" data-bind="foreach: nodes">
		    <ul><li>
                (<strong data-bind="text: id"></strong>) Δ <el data-bind="text: delta"></el> St <el data-bind="text: status"></el>
            </li></ul>
		</div>
	</div>
</div>
<script src="/js/jquery-2.0.0.min.js"></script>
<script src="/js/knockout.js"></script>
<script src="/js/knock/node.js"></script>
<script src="/js/knock/debug.js"></script>