<html>
	<head>
		<title>Satar</title>
		<link rel="stylesheet" href="/css/site.min.css">
		<script src="/js/jquery.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col6">
							<div class="logo"></div>
						</div>
						<div class="col6">
							<div id="nav">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/stream">Stream</a></li>
									<li><a href="/results">Results</a></li>
								</ul>
							</div>
						</div>		
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row">
						<div class="col12">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col12">
							<div id="nav">
								<ul>
									<li><a href="/admin">Admin</a>	</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>