<html>
	<head>
		<title>Satar Web-UI</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/l3_grid.css">
		<script src="/js/jquery-2.0.0.min.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col6">
							<div class="logo"></div>
						</div>
						<div class="col6">
							<div id="nav">
								<ul>
									<li><a href="/">Status</a></li>
									<li><a href="/stream">Stream</a></li>
									<li><a href="/results">Results</a></li>
								</ul>
							</div>
						</div>		
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row">
						<div class="col12">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col12">
							<div id="nav">
								<ul>
									<li><a href="/admin">Setup</a>	</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
