<div class="row">
	<div class="col12">
		<h1>Nodes</h1>
		<div class="block fscroll">
			<div id="nodeContainer">
		        <p>Choose your node</p>
		        <ul data-bind="foreach: nodes">
                <li>
                (<strong data-bind="text: id"></strong>) <a data-bind="attr: {href: link}" target="_blank">interface</a>
            </li></ul>
			</div>
		</div>
	</div>
</div>
<script src="/js/jquery-2.0.0.min.js"></script>
<script src="/js/knockout.js"></script>
<script src="/js/knock/node.js"></script>