<ul>
  <% for @result in @results %>
	<li>
		node <%= @result.time %>
<!--			<ul>
			<li>status: <%= @node.status.to_i.to_s(2) %></li>
			<li>offset: <%= @node.delta %></li>
		</ul> -->
	</li>
  <% end %>
</ul>
