/********************************************************
 * Don't edit the css file, sass is more awesome!        *
 * sudo gem install sass                                 *
 * sass --watch public/css/main.sass.public/css/main.css *
 *********************************************************     */
@font-face {
  font-family: "JuraLight";
  src: url("/fonts/Jura-Light.ttf"); }

@font-face {
  font-family: "JuraMedium";
  src: url("/fonts/Jura-Medium.ttf"); }

@font-face {
  font-family: "SourceCode";
  src: url("/fonts/SourceCodePro-Regular.ttf"); }

body {
  background: #f2f2f2 url("/images/noise.png") top left;
  color: #3a3a3a;
  margin: 0;
  font-family: SourceCode;
  min-width: 840px; }

h1, h2, h3 {
  text-transform: uppercase;
  margin: 5px auto; }

p {
  font-size: 12px; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 140%; }

ul {
  margin: 10px auto;
  list-style: none; }

#header {
  margin: 40px auto 20px auto;
  height: 53px;
  background: #0099cc; }
  #header .logo {
    background: url(/images/Header.svg);
    background-repeat: no-repeat;
    height: 100px;
    margin-top: -30px;
    margin-left: -10px; }

#main {
  margin-bottom: 53px; }
  #main h1 {
    margin-bottom: 10px;
    font-family: JuraLight;
    text-shadow: 1px 1px white; }

#footer {
  height: 53px;
  background: #0099cc;
  position: fixed;
  bottom: 0;
  width: 100%; }

#nav {
  font-size: 25px;
  float: right;
  font-family: JuraMedium; }
  #nav ul {
    float: right;
    list-style: none;
    margin-top: 14px; }
    #nav ul li {
      float: left;
      margin: 0 5px; }
      #nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #3a3a3a; }
        #nav ul li a:hover {
          color: #f2f2f2; }

table {
  width: 100%; }
  table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd; }

.block {
  background: white;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  -moz-box-shadow: 2px 2px 5px #888888;
  -o-box-shadow: 2px 2px 5px #888888; }

.h400 {
  height: 400px;
  overflow-y: scroll; }
